<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Mortgage Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div class="container">
        <h1>Interactive Mortgage Calculator</h1>
        <div class="input-group">
            <label for="price">Price:</label>
            <input type="number" id="price" value="100000">
        </div>
        <div class="input-group">
            <label for="exchange-rate">Exchange Rate (Results):</label>
            <input type="number" id="exchange-rate" value="1" step="0.01" min="0">
        </div>
        <div class="input-group">
            <label for="yearly-appreciation">Yearly Appreciation Rate (%):</label>
            <input type="number" id="yearly-appreciation" step="0.01" value="0.2">
        </div>
 
        <div class="options" id="options-container">
            <!-- Options will be dynamically generated here -->
        </div>
        <div class="input-group">
            <label for="scenario">Down payment options:</label>
            <select id="scenario" onchange="updateCloseCost()">
                <option value="1">Scenario 1</option>
                <option value="2">Scenario 2</option>
                <option value="3">Scenario 3</option>
                <option value="4">Scenario 4</option>
            </select>
        </div>
       
        <h2>Financial Overview</h2>
        <div class="financial-overview">
            <div id="close-costs">
                <h3>Cash needed to close</h3>
                <div class="input-group">
                    <label>Down payment:</label>
                    <span id="down-payment"></span>
                    <span id="down-payment-shared"></span>
                </div>
                <div class="input-group">
                    <label>Lawyer fees:</label>
                    <input type="number" id="lawyer-fees" value="1000" onchange="updateCloseCost()">
                    <span id="lawyer-fees-shared"></span>
                </div>
                <div class="input-group">
                    <label>Title insurance:</label>
                    <input type="number" id="title-insurance" value="900" onchange="updateCloseCost()">
                    <span id="title-insurance-shared"></span>
                </div>
                <div class="input-group">
                    <label>Home inspection:</label>
                    <input type="number" id="home-inspection" value="500" onchange="updateCloseCost()">
                    <span id="home-inspection-shared"></span>
                </div>
                <div class="input-group">
                    <label>Appraisal fees:</label>
                    <input type="number" id="appraisal-fees" value="300" onchange="updateCloseCost()">
                    <span id="appraisal-fees-shared"></span>
                </div>
                <div class="input-group">
                    <label>Cash needed to close:</label>
                    <span id="cash-needed-to-close"></span>
                    <span id="cash-needed-to-close-shared"></span>
                </div>
            </div>

            <div id="monthly-expenses">
                <h3>Monthly expenses</h3>
                <div class="input-group">
                    <label for="property-tax">Property tax:</label>
                    <input type="number" id="property-tax" value="100" onchange="updateMonthlyExpenses()">
                </div>
                <div class="input-group">
                    <label for="utilities">Utilities:</label>
                    <input type="number" id="utilities" value="150" onchange="updateMonthlyExpenses()">
                </div>
                <div class="input-group">
                    <label for="property-insurance">Property Insurance:</label>
                    <input type="number" id="property-insurance" value="50" onchange="updateMonthlyExpenses()">
                </div>
                <div class="input-group">
                    <label for="phone">Phone:</label>
                    <input type="number" id="phone" value="50" onchange="updateMonthlyExpenses()">
                </div>
                <div class="input-group">
                    <label for="cable">Cable:</label>
                    <input type="number" id="cable" value="100" onchange="updateMonthlyExpenses()">
                </div>
                <div class="input-group">
                    <label for="internet">Internet:</label>
                    <input type="number" id="internet" value="60" onchange="updateMonthlyExpenses()">
                </div>
                <div class="input-group">
                    <label>Total Monthly Expenses:</label>
                    <span id="monthly-expenses-total"></span>
                </div>
                <div class="input-group">
                    <label>Total Monthly Cost:</label>
                    <span id="total-monthly-cost"></span>
                </div>
            </div>
            <div id="monthly-revenues">
                <h3>Monthly Revenues</h3>

                <div class="input-group">
                    <label for="rented-days">Number of rented days:</label>
                    <input type="number" id="rented-days" value="15" onchange="updateRevenues()">
                </div>
                <div class="input-group">
                    <label for="estimated-rented-price">Estimated rented price per day:</label>
                    <input type="number" id="estimated-rented-price" value="100" onchange="updateRevenues()">
                </div>
                <div class="input-group">
                    <label>Total Revenue:</label>
                    <span id="total-revenue"></span>
                </div>
                <div class="input-group">
                    <label>Annual Cost:</label>
                    <span id="annual-cost"></span>
                </div>
                <div class="input-group">
                    <label>Annual Profit:</label>
                    <span id="annual-profit"></span>
                </div>
                
            </div>            
        </div>
        <h2>Amortization Schedule</h2>
        <canvas id="amortization-chart" width="800" height="400"></canvas>

        <table id="amortization-table">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Total Paid</th>
                    <th>Principal Paid</th>
                    <th>Interest Paid</th>
                    <th>Balance</th>
                    <th>Appreciation</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be dynamically generated here -->
            </tbody>
        </table>
    </div>
    <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
