<!DOCTYPE html>
<html>
<head>
    <title>House Buying Simulator</title>
</head>
<body>
    <h1>House Buying Simulator</h1>
    <form action="/results" method="post">
        <label for="mq">MQ:</label>
        <input type="text" id="mq" name="mq"><br><br>
        
        <label for="price">Price:</label>
        <input type="text" id="price" name="price"><br><br>
        
        <label for="years">Years of Mortgage:</label>
        <input type="text" id="years" name="years"><br><br>
        
        <label for="upfront">Upfront Percentage:</label>
        <input type="text" id="upfront" name="upfront"><br><br>
        
        <label for="int_rate">Interest Rate:</label>
        <input type="text" id="int_rate" name="int_rate"><br><br>
        
        <label for="rent_per_night">Rent per Night:</label>
        <input type="text" id="rent_per_night" name="rent_per_night"><br><br>
        
        <input type="submit" value="Calculate">
    </form>
</body>
</html>
